<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Quoter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A6CB63C1C40BD54001F9B27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A6CB64B1C40BD54001F9B27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A6CB6561C40BD54001F9B27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
